html,
body {
    margin: 0;
    box-sizing: border-box;
}

.bg {
    background-color: rgb(32, 34, 37);
    width: 82px;
    min-height: 100vh;
}

.listItem {
    display: flex;
    /* align-content: center; */

    min-height: 55px;
    max-height: 55px;
    min-width: 58px;
    max-width: 58px;
    padding: 10px;
    /* border: 2px rgb(60, 255, 0) solid; */
}

.serverIcon {
    display: flex;
    width: 55px;
    height: 55px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(255, 196, 17);
    /* border: 2px red solid; */
    border-radius: 45px;
}

.serverIcon:hover {
    border-radius: 20px;
    transition-delay: .19s;
}

.link {
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: sans-serif;
}

.link:active {
    border-radius: 45px;
}

/* .hiddenItems { */
    /* border: 1px rgb(55, 255, 0) solid; */
    /* overflow: hidden; */
    /* margin: 0;
    box-sizing: border-box; */
/* } */

.triangle {
    position: absolute;
    /* width: 0;
	height: 0; */
    margin-left: 75px;
    margin-top: 22px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid rgb(24, 24, 24);
}

.serverNames {
    padding: 10px;
    border-radius: 4px;
    list-style: none;
    font-family: sans-serif;
    color: rgb(231, 231, 231);
    background-color: rgb(24, 24, 24);
    position: absolute;
    /* align-items: center;
    justify-content: center; */
    margin-left: 80px; /* ----was 20px---- */
    margin-top: 8px;
    /* border: 2px red solid; */
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.507);
}

.whiteNub {
    /* margin: 0;
    box-sizing: border-box; */
    height: 20px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    color: rgb(255, 255, 255);
    /* border: 1px blue solid; */
    margin-left: -16px;
    margin-top: 18.7px;
    position: absolute;
}
