html,
body {
    /* margin: auto; */
    box-sizing: border-box;
}

.bg {
    background-color: rgb(32, 34, 37);
    width: 82px;
    min-height: 100vh;
}

.dm {
    position: relative;
    background-image: url(images/dm-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 12px;
    /* margin: auto; */
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-family: sans-serif;
    /* color: rgb(255, 255, 255); */
    font-size: 22px;
    /* background-color: rgb(46, 49, 54); */
    /* border: 2px red solid; */
    border-radius: 45px;
}

.dm:hover {
    /* position: absolute; */
    /* margin: none; */

    background-color: rgb(64, 78, 237);
    border-radius: 20px;
    transition-delay: .19s;
    /* margin: none; */
}

.line {
    padding-top: 20px;
    border-bottom: 2px solid rgba(75, 75, 75, 0.645);
    width: 34px;
    margin: auto;

}

.list {
    margin-top: 4px;
}

.listItem {
    display: flex;
    /* align-content: center; */
    min-height: 58px;
    max-height: 58px;
    min-width: 58px;
    /* max-width: 58px; */
    padding: 3px;
    /* border: 2px rgb(60, 255, 0) solid; */
}

.serverIcon {
    display: flex;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(255, 196, 17);
    /* border: 2px red solid; */
    border-radius: 45px;
}

.serverIcon:hover {
    border-radius: 20px;
    transition-delay: .19s;
}

.link {
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: sans-serif;
}

.link:active {
    border-radius: 45px;
}

.dmHiddenItems {
    /* margin-left: 3px; */
    position: relative;
    bottom: 15px;
    /* margin-top: 10px; */
    /* border: 20px rgb(55, 255, 0) solid; */
    /* overflow: hidden;
    box-sizing: border-box; */
}

.HiddenItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 3px; */
    /* position: relative; */
    /* margin-top: 10px; */
    /* border: 20px rgb(55, 255, 0) solid; */
    /* overflow: hidden; */
    /* box-sizing: border-box; */
}

.dmWhiteNub {
    /* margin: 0;
    box-sizing: border-box; */
    height: 20px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    color: rgb(255, 255, 255);
    right: -4px;
    top: 45px;
    /* border: 1px blue solid; */
    /* margin-left: -9px;
    margin-top: 72px; */
    position: absolute;
}

.whiteNub {
    /* margin: 0;
    box-sizing: border-box; */
    height: 20px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    color: rgb(255, 255, 255);
    /* border: 1px blue solid; */
    margin-left: -9px;
    margin-top: 20px;
    position: absolute;
}

/* .dmTextBox {
    border: 100px blue solid;
} */

.dmTriangle {
    position: absolute;
    /* width: 0;
    height: 0; */
    /* margin-left: 82px;
    margin-top: 74.5px; */
    left: 85px;
    top: 48.5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgb(24, 24, 24);
    /* border-right: 5px solid rgb(251, 54, 54); */
}

.triangle {
    position: absolute;
    /* width: 0;
	height: 0; */
    margin-left: 82px;
    margin-top: 23px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgb(24, 24, 24);
}

.dmServerNames {
    min-width: 135px;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
    list-style: none;
    font-family: sans-serif;
    font-size: large;
    color: rgb(231, 231, 231);
    background-color: rgb(24, 24, 24);
    position: absolute;
    left: 90px;
    top: 33.5px;
    /* align-items: center;
    justify-content: center; */
    /* margin-left: 87px;
    margin-top: 58.6px; */
    /* border: 2px red solid; */
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.507);
}

.serverNames {
    max-width: 186px;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
    list-style: none;
    font-family: sans-serif;
    font-size: large;
    color: rgb(231, 231, 231);
    background-color: rgb(24, 24, 24);
    position: absolute;
    /* align-items: center;
    justify-content: center; */
    margin-left: 87px;
    margin-top: 8px;
    /* border: 2px red solid; */
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.507);
}

.addServerIcon {
    position: relative;
    top: 5px;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-family: sans-serif;
    color: rgb(59, 165, 94);
    font-size: 35px;
    background-color: rgb(46, 49, 54);
    /* border: 2px red solid; */
    border-radius: 45px;
}

.addServerIcon:hover {
    /* position: absolute; */
    /* margin: none; */
    color: rgb(255, 255, 255);
    background-color: rgb(59, 165, 94);
    border-radius: 20px;
    transition-delay: .19s;
    /* margin: none; */
}

.plus {
    display: flex;
    height: 45px;
    text-align: center;
}

.addServerTriangle {
    position: absolute;
    left: 85px;
    top: 43.5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgb(24, 24, 24);
}

.addServerText {
    min-width: 106px;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
    list-style: none;
    font-family: sans-serif;
    font-size: large;
    color: rgb(231, 231, 231);
    background-color: rgb(24, 24, 24);
    position: absolute;
    left: 90px;
    top: 28.5px;
    /* align-items: center;
    justify-content: center; */
    /* margin-left: 87px;
    margin-top: 6.6px; */
    /* border: 2px red solid; */
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.507);
}
