.channels-members-container {
    display: flex;
    justify-content: space-between;
    color: #8c989d;
}

.members-list {
    width: 220px;
    background-color: #2f3136;
    height: 100vh;
    /* color: #8c989d; */
    padding: 10px 10px;
    /* border-radius: 4px; */
}

#one-member {

    color: #8c989d;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
}

#one-member:hover {
    background-color: #42464D;
    color: white;
    cursor: pointer;
}

#member-profile {
    width: 30px;
    margin-right: 10px;
}
