.main-container{
    position: relative;
    height: 100vh;

    z-index: 100;
    box-sizing: border-box;
}
/*
.channel-bar-container{
    position: absolute;
    width: 90vw;
    height: 100vh;
    height: 100%;
    top: 0%;
    left: 0%;

} */

.server{
    width: 100%;

}

.server-title-container{
    max-width: 240px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 12px 16px;
    align-items: center;
    color: white;
    /* margin-bottom: 20px; */
    cursor: pointer;
}
.title-text{
    font-size: 16px;
    font-weight: 500;
}

.server-title-container:hover {
    background-color: #42464D;
    color: white;
    cursor: pointer;
}

.server-title-container-no-click{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}

.server-settings-button {
    font-size: 24px;
    transform: rotate(90deg);
}


.channels-list {
    width: 100%;
    padding: 12px 10px 0 10px;
}

.channel-list-hash {

    display: flex;
    color: rgb(142, 146, 151);
    font-size: 30px;
    font-weight: 100;


  }

.channel-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #96989D;
    font-weight: light;
}

.channel-list-item {
    /* border: red 1px solid; */
    height: 26px;
    /* width: 234px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    height: 34px;

}

.channel-list-item:hover {
    background-color: #42464D;
    color: white;
    cursor: pointer;
}

.channel-list-name {
    cursor: pointer;
    /* font-weight: lighter; */
    color: #96989D;
    font-size: 16px;
}

.add-channel-button {
    font-size: 22px;
    cursor: pointer;
    width: 20px;
}

.channel-settings-button {
    display: flex;
    font-size: 44px;
    display: flex;
    cursor: pointer;
    align-items: center;
    /* flex-direction: row; */
    /* justify-self: end; */
}

.channel-settings-button img {
    height: 14px;

}
.channels-members-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: #8c989d;
}

.members-list {
    width: 300px;

    background-color: #2f3136;
    /* height: 100%; */
    color: #8c989d;
    padding: 10px 10px;
    overflow-y: scroll;
    /* border-radius: 4px; */
    /* border: 1px solid red; */
}

#one-member {

    color: #8c989d;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
}

#one-member:hover {
    background-color: #42464D;
    color: white;
    cursor: pointer;
}

#member-profile {
    width: 30px;
    margin-right: 10px;
}

.logout-user-container {
    width: 100%;
    background-color: #292B2F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    right: 0.5px;
}

.general-bar-user {
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: white;
}

#logout-button {
    border: none;
    color: #8c989d;
    padding: 5px;
    border-radius: 4px;
    /* width: 100px; /
    / background-color: red; */
}

#logout-button:hover {
    cursor: pointer;
    background-color: #42464D;
    color: white;
}
